{:company/legal-name "Transdev Group SA"
 :company/lei "969500LMWJBG5RHVJV88"
 :company/jurisdiction "FR"
 :company/website "https://www.transdev.com"
 :company/ticker "unlisted (majority owned by Caisse des Dépôts + Rethmann)"}
