[["transdev-tou-1" :tos/full-text "Terms and Conditions of Use - Transdev Group
Aller directement au contenu
Aller directement en pied de page
The Group
Our expertises
Impact
The Mobility Sphere
Newsroom
French
fr
English
en
Transdev worldwide
Afficher les options d’accessibilité
Rechercher
Rechercher
Close
Join us
The Group
All about the group
Purpose and vision
Our story
Governance
Transdev Worldwide
Investor relations
Ethics and Compliance
Global player in sustainable and inclusive mobility, present in 19 countries
Our expertises
All about our expertises
Transportation solutions
Transportation solutions
Urban and Interurban Road Lines (Coach, Bus, and Bus Rapid Transit)
Accessible mobility
Bike sharing
Cable car
Electric vehicles
Funicular
Healthcare institutions
Heavy modes
Light Rail
Maritime and river transportation
Metro
Multimodal Transportation Solutions
On-demand transportation
Rail
Taxi and Car sharing
Trolleybus
Our innovations
Optimizing passenger experience
Optimizing passenger experience
Traveler information
Customer Relations And Satisfaction
Our private solutions
Our references
Our references
Enabling everyone to get around every day thanks to safe, efficient and innovative solutions
Recherche
Rechercher
E.g. bus, metro, tramway, train, active mobility, etc.
Impact
All about our impact
Our sustainability strategy
Our sustainability strategy
Moving green: Transdev's environmental strategy
Security and Safety for all
Attract, engage and retain talents
Social and economic development of communities
Ethics and Compliance
Our sustainable procurement policy
Innovation for impact
Transdev Foundation
Our sustainability strategy
The Mobility Sphere
All about
Why The Mobility Sphere?
Our publications
Experts and partners
Conferences
The Mobility Times
The Mobility Sphere
Newsroom
All about
Press room
Press room
News
Press release
Podcast Transdev Forward
Press releases
French
fr
English
en
Join us
Transdev worldwide
Transdev worldwide
Discover local implementations
France
United States
Germany
Australia / New Zealand
Canada (En)
Canada (Fr)
Ireland
Portugal
The Netherlands
Czech Republic
The United-Kingdom
Slovakia
Sweden
Present in 19 countries
Terms and Conditions of Use
The purpose of these Terms and Conditions of Use (hereinafter the “TCU”) is to define the conditions of access and use by any person accessing or attempting to access (hereinafter “you”, “your”) the website  www.transdev.com  and its sub-site dedicated to recruitment (hereinafter the “Site”).
The Site’s legal notices are available  here  and enable you to identify the Site’s publisher (hereinafter “we”, “us”, “our”).
1. Access to the website
The use of the Site and of all /or part of its contents, information and services (here in after the «Services») is subject to your full, complete and irrevocable acceptance of the TCU, as well as your acceptance of our Special Conditions relating to the protection of personal data (accessible  here) and our  Special Conditions for the management of cookies  (hereinafter all together the «Terms of Use»).
If you don’t agree to be related by the Terms of Use, you must not access or use the Services. Any use of the Services implies acceptance of the Terms of Use.
We may modify the content and information on this Site as well as these Terms of Use, to comply with any new legislation or applicable regulations or to supervise the improvement of the Services. The modified Terms of Use will take effect from the date of publication on this Site mentioned at the beginning of this document.
Unless otherwise required, your continued use of the Services implies your acceptance of the new Terms of Use. We advise you to refer to it periodically and especially when you provide us with personal information.
Access to the Site or some of its Services may require the use of personal access codes. In that case, it is up to you to take the appropriate measures to ensure the secrecy of those codes. You can of course change them at any time. However, the number of attempts to access the Site or some of its Services may be limited in order to prevent fraudulent use of said codes. We invite you to inform us of any fraudulent use you may be aware of. In addition, in case of non-compliance with the rules described in these Terms of Use, we reserve the right to suspend your access.
By these terms and conditions of use, we grant you a temporary, non-transferable, and personal right to reproduce and represent the Site and all its contents on the equipment you use, for the sole purpose of using the Site and its Services.
2. Services
In order to use the Services, you may be required to complete all of the fields marked for this purpose. We reserve the right to delete any file containing incomplete or erroneous information.
By using the Services, you warrant that you will not upload, post, or otherwise publish any information that is offensive, illegal, or otherwise likely to infringe the rights, harm or threaten the safety of any person. You are exclusively responsible for the information and content that you communicate to us via the Services, and you guarantee the accuracy of this information and content, which you will ensure is kept up to date. In this respect, when you communicate with us, you declare and warrant that you are the author of the content exchanged, that you do not impersonate any other person, that you do not use a false e-mail address and that you do not infringe our intellectual property rights or those of third parties.
To benefit from all Services, you acknowledge that you have the equipment and connection necessary to access the Internet and, where applicable, mobile telecommunication networks; it is your responsibility to keep all software necessary for the proper operation of your equipment up to date. You are informed and acknowledge that the conditions of your contracts with third parties, in particular access providers or mobile operators, continue to apply when you access our Services. It is therefore possible that these third parties may bill you for connections (voice or data, incoming or outgoing) during your use of the Services. You are exclusively responsible for these charges. If you use a third party’s equipment to access our Services, you warrant that you have the consent of that third party.
The Site allows you to access the following services:
Inform you about news from the Transdev Group, its subsidiaries and our services;
Allow you to ask us questions about our services or news;
Subscribe to newsletters from Transdev Group companies;
Allow you to ask us questions to order transport services or other services;
Allow you to report a compliance problem;
Enable you to apply for open job vacancies within our Group or make unsolicited applications.
To use the Site or the Services, you warrant that you are of legal age, or if you are a minor, that you have the authorization of a legal representative. We reserve the right to implement measures to verify these conditions.
When you ask us about our services or with a view to recruitment, you are informed that this information may be communicated to any relevant affiliate of the Transdev Group, wherever in the world they may be located.
When you ask us about our services, particularly when you wish to obtain a quote, the subsidiary concerned will inform you of the applicable terms and conditions of sale. These conditions may vary depending on your location.
Transdev Group’s subsidiaries have their own legal existence and independent legal personality; a subsidiary being a company in which Transdev Group directly or indirectly holds most voting rights. Neither Transdev Group nor any of its subsidiaries may be inferred from the content of the Site to be involved in the business or management of any other company in the Transdev Group.
3. Availability of website’s Services
We undertake to use our best efforts to ensure the security of access, consultation, and use of the Site. The content and information published on the Site are for information purposes only.
We make every effort to ensure that the Site is accessible 24 hours a day, 7 days a week. However, it is possible that access to the Site may be interrupted for maintenance purposes or in cases of force majeure, such as the blocking of telecommunications or electricity networks, acts of computer piracy, etc.
4. Protected rights
The content of this Site is protected by applicable legislation, regarding to intellectual property rights and competition law.
The content includes, in particular, the architecture, the graphic charter (including colors, fonts and the graphic organization of screens), as well as all information and elements available on the Site, such as texts, articles, photographs, illustrations, images, trademarks and logos, data, databases and all sound elements (such as voices, music or sound effects) and fixed or animated visual elements (such as graphic animations or audiovisual sequences), specific software developments and downloadable programs.
The content is the property of Transdev Group’ subsidiaries, service providers or partners.
Any reproduction, representation, distribution and/or exploitation of all or part of the content, by any means, in any form and for any purpose whatsoever, is prohibited, except with the express prior written consent of Transdev. In any event, and subject to the foregoing, the source (this Site and Transdev and/or its subsidiaries) and, where applicable, the name of the author must be clearly indicated.
Any person failing to comply with the applicable legal provisions is guilty of the offence of counterfeiting and is liable to the penal sanctions provided for by law, notwithstanding any other recourse by Transdev or any other entitled party.
Trademarks, product or service names, domain names and company names mentioned on the Site remain the property of their respective owners.
The mention of links or trademarks, names, services, domain names and names of other companies in no way implies the existence of any association between us and these companies, products, services, trademarks, or names.
5. Liability
We exclude any warranty of any kind as to the content of the Site, and in particular any guarantee of quality or suitability for a particular use. Any content of the Site is provided as is and as available.
The Site may contain inaccuracies or typographical errors. Changes and updates are regularly made on the Site. In this regard, we reserve the right to make any changes, corrections, or changes to the Site at any time.
In addition, and subject to any specific exceptions that may be required under applicable law or regulation, we exclude any liability whatsoever, with respect to direct or indirect damages, accessories or incidents, loss of data or profit, resulting from, or related to the use or operation of the Site and its content.
The connection material to the Site you use is under your sole responsibility. You must take all appropriate measures to protect your hardware and your own data including from virus attacks over the Internet.
It is also specified that the Internet network, computer and telecommunications systems are not free of errors and that interruptions and failures may occur. We cannot provide any guarantee in this respect and therefore cannot be held liable for any damage inherent to said uses of the Internet network and computer and telecommunications systems, without this list being exhaustive:
the improper transmission and/or reception of any data and/or information on the Internet;
external intrusion or the presence of computer viruses;
failure of any receiving equipment or communication lines; and
any other malfunction of the Internet network preventing the proper functioning of the Site.
We can’t be held liable for any legal action against you:
due to use of the Site or any service accessible via the Internet;
due to your non-compliance with the Terms of Use.
You are sole liable for your access of websites and data.
It is strictly prohibited to use this Site or any of its contents for illegitimate, illicit, immoral, or illegal purposes or uses and/or to attempt or illegally obtain access to or control of all or part of this Site or content.
6. Hypertext links / links to third-party websites
Links on the Site may lead you to leave the Site (which you can see by reading the URL of the site in your browser). These links to third-party target websites are provided for your convenience only, and do not imply any endorsement or approval of such sites by us.
Third-party target sites are not under our control nor that of Transdev Group’s subsidiaries, and we are not liable for the content of these third-party sites, the links they contain, the products or services they offer, or any changes or updates made to them. It is your responsibility to read and accept, where applicable, the terms of use of these third-party sites.The creation of any hypertext links to all or part of the Site is strictly forbidden unless we have given you prior written authorization. We are free to refuse such authorization without having to justify our decision in any way whatsoever. Should we grant you authorization, it is only temporary and may be withdrawn at any time by operation of law.
7. Personal data
When using the Site or providing the Services, we may collect or process personal data relating to you. Access to certain Services may be subject to your consent.
In accordance with the regulatory and legislative provisions in force, you benefit from several rights, such as right of access, portability, correction, limitation, and deletion on the personal data relating to you. You may exercise these rights at any time by sending a letter, accompanied by a copy of proof of identity, to the following address:
Transdev Group , Data Protection Department
Crystal building, 3 Allée de Grenelle,
92130 Issy-les-Moulineaux, France
Or by email to the following address:  [email protected]
When you contact our services, please state the country and the affiliate concerned.
The details of our data processing are brought to your attention in the Special Conditions relating to the protection of personal data, accessible  here .
8. Cookies
Cookies are small files which are placed on your device during your navigation on the website (such as the pages you have consulted, the date and time of the consultation, etc.) and which can be read during your visits to this same Site (hereinafter the “Cookies”). Some technical Cookies are necessary for the proper functioning of the Site and your navigation, others are subject to your prior acceptance.
For more information on the use of Cookies on the Site, we invite you to consult our  Special Conditions for managing cookies .
9. Evidence, preservation, and archiving
In accordance with article 1316-2 of the Civil Code, the rules relating to admissible evidence between us and you in the event of a dispute and their probative force are defined below, in the context of the Services. The following provisions therefore constitute the proof agreement entered between you and us.
The computerized records kept in our computerized information systems, in compliance with the rules of the art in terms of security, will be considered as proof of electronic mail communications, sending of registration forms, downloads of documents, acceptances, subscriptions to services and placing orders. The archiving of this information and documents is carried out on a medium likely to ensure the faithful and durable nature required by the legal provisions in force. It is agreed that in the event of a discrepancy between our computerized records and any documents whatever the format (paper, electronic or other) that you have, our computerized records will prevail.
10. Applicable law, competent courts
Any use of the Site is assumed to have been made on French territory.
These Terms of Use are governed by French law. The original language of this agreement is French. Except in the case of mandatory legal provisions, the French courts in the jurisdiction of Nanterre, France, shall have exclusive jurisdiction.
Eco-friendly website
0.3
This page is times lighter than average
Emissions from this page
0.18
in grams
of CO2 equivalent
Read more
Close
Keep
in touch
This contact form allows you to send us a request or report a problem you are experiencing.
Feel free to consult our job offers .
facebook
linkedin
youtube
instagram
Follow our news
* Required Field
Your contact details
Last name *
First name *
E-mail address *
Telephone (optional)
Please select an option
Germany
Andorra
Australia
Austria
Belgium
Belarus
Bosnia-Herzegovina
Brazil
Bulgaria
Canada
Chile
China
Colombia
Croatia
Croatia
Denmark
Ecuador
Spain
United States
Finland
France
Hungary
Ile-de-la-Réunion
India
Ireland
Italy
Latvia
Lithuania
Luxembourg
Malaysia
Morocco
Mayotte
Mexico
Moldova
Monaco
World
Norway
New Zealand
Netherlands
Poland
Portugal
Czech Republic
Romania
United Kingdom
Russia
Serbia
Slovakia
Slovenia
Sweden
Switzerland
Ukraine
Country of residence *
Code postal *
City *
Your message
Please select an option
Australia and New Zealand
Canada
Chili
Czech Republic
Ecuador
France
Germany
Ireland
Moroco
Netherlands
Portugal
Spain
Slovakia
Sweden
United States
United Kingdom
Which country are you enquiring about? *
Please select an option
Recruitment Department
Press Office
Complaint
Other Topic
Select your request *
Your message *
Upload a file
pdf, jpg, doc, docx
By checking, I declare that I have read and accepted the Terms and Conditions of Use and the rules relating to the processing of my Personal Data .
Send my request
facebook
linkedin
youtube
instagram
Follow our news
Fermer la boîte de dialogue
Accessibilité
Contraste
Par défaut
Renforcé
Police (dyslexie)
Par défaut
Adaptée
Espacement
Par défaut
Adaptée
English
Legal notices
Privacy Policy
Cookies
Site map
Accessibility: partially compliant
Suivez nous sur x, nouvel onglet
Suivez nous sur facebook, nouvel onglet
Suivez nous sur linkedin, nouvel onglet
Suivez nous sur youtube, nouvel onglet
Suivez nous sur instagram, nouvel onglet
The Group
Purpose and vision
Heritage
Governance
Transdev worldwide
Ethics and Compliance
Investor relations
Our expertise
Transportation solutions
Optimizing customer experience
Our private solutions
Our references
Impact
Our sustainability strategy
Innovation for impact
Join us
Prospects for individual and collective development
4 reasons to join us
Newsroom
The Mobility Sphere
Contact
Contact us
Press service
Copyright © 2026 Transdev. All rights reserved.
Remonter en haut du contenu" 1 :add]
 ["transdev-tou-1" :tos/source-url "https://www.transdev.com/en/terms-and-conditions-of-use" 1 :add]
 ["transdev-tou-1" :tos/retrieved-at "2026-07-19T07:03:53Z" 1 :add]
 ["transdev-tou-1" :tos/sha256 "8af7ca2d2c76b9b6300f63c3ec98896ee7eb1d96cfad20b2f96572831864d3f4" 1 :add]
 ["transdev-tou-1" :tos/doc-type :terms-of-service 1 :add]]
